<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.BackMoneyDao">

    <!--批量插入数据（还款计划）-->
    <insert id="insertBatchBackMoney" parameterType="List">
        insert into back_money (borrowMoneyUserId,productInfoId,bj,lx,backMoney,backTime,count) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.borrowMoneyUserId},#{item.productInfoId},
            #{item.bj},#{item.lx},#{item.backMoney},#{item.backTime},#{item.count})
        </foreach>
    </insert>

    <!--根据borrowMoneyUserId和productInfoId查询用户的还款计划-->
    <select id="selectBackMoney" parameterType="java.util.Map" resultType="com.guanyitong.model.BackMoney">
        select * from back_money  where 1=1
        <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
            and borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="productInfoId !=null and productInfoId !=''">
            and productInfoId = #{productInfoId}
        </if>
        <if test="status !=null">
            and status = #{status}
        </if>
    </select>
    <!--还款（还款方式不同）-->
    <update id="updateStatus" parameterType="com.guanyitong.model.BackMoney">
        update back_money set status= #{status} where 1=1
        <if test="id !=null">
            and id = #{id}
        </if>
    </update>
</mapper>
