<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.BackMoneyDao">

    <!--批量插入数据（还款计划）-->
    <insert id="insertBatchBackMoney" parameterType="List">
        insert into back_money (borrowMoneyUserId,productInfoId,bj,lx,backMoney,backTime,count) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.borrowMoneyUserId},#{item.productInfoId},
            #{item.bj},#{item.lx},#{item.backMoney},#{item.backTime},#{item.count})
        </foreach>
    </insert>

    <!--根据borrowMoneyUserId和productInfoId查询用户的还款计划-->
    <select id="selectBackMoney" parameterType="java.util.Map" resultType="com.guanyitong.model.BackMoney">
        select bm.* from back_money bm
        where 1=1
        <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
            and bm.borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="productInfoId !=null and productInfoId !=''">
            and bm.productInfoId = #{productInfoId}
        </if>
        <if test="status !=null">
            and bm.status = #{status}
        </if>
    </select>
    <!--还款（还款方式不同）-->
    <update id="updateStatus" parameterType="com.guanyitong.model.BackMoney">
        update back_money set status= #{status} where 1=1
        <if test="id !=null">
            and id = #{id}
        </if>
    </update>

    <!--还款列表的展示-->
    <select id="backMoneyList" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.BackMoneyManageListVo">
        select ub.realName,ub.IDCardNumber,ub.bankName,ub.cardNo,
        bm.borrowMoneyUserId,bm.productInfoId,bm.bj,bm.lx,bm.backMoney,bm.id,bm.count,
        bm.backTime,bm.realBackTime,bm.status,p.status productinfoStatus from back_money bm
        left join borrowmoney_user bu on bm.borrowMoneyUserId = bu.id
        left join user_bankcard ub on ub.borrowMoneyUserId = bu.id
        left join productinfo p on p.id = bm.productInfoId
        where 1=1
        <if test="borrowMoneyUserId !=null">
            and bm.borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="IDCardNumber !=null and IDCardNumber !=''">
            and ub.IDCardNumber = #{IDCardNumber}
        </if>
        <if test="realName!=null and realName !=''">
            and ub.realName = #{realName}
        </if>
        <if test="bankName !=null and bankName !=''">
            and ub.bankName = #{bankName}
        </if>
        <if test="cardNo!=null and cardNo !=''">
            and ub.cardNo = #{cardNo}
        </if>
        <if test="bj !=null">
            and bm.bj = #{bj}
        </if>
        <if test="startTime !=null and endTime ==null">
            and bm.realBackTime &gt;= #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and bm.realBackTime &lt;= #{endTime}
        </if>
        <if test="startTime !=null and endTime !=null">
            and bm.realBackTime  BETWEEN #{startTime} and #{endTime}
        </if>
    </select>
    <!--还款列表的展示-->
    <select id="backMoneyListCount" parameterType="java.util.Map" resultType="Integer">
        select count(bm.id) from back_money bm
        left join borrowmoney_user bu on bm.borrowMoneyUserId = bu.id
        left join user_bankcard ub on ub.borrowMoneyUserId = bu.id
        where 1=1
        <if test="borrowMoneyUserId !=null">
            and bm.borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="IDCardNumber !=null and IDCardNumber !=''">
            and ub.IDCardNumber = #{IDCardNumber}
        </if>
        <if test="realName!=null and realName !=''">
            and ub.realName = #{realName}
        </if>
        <if test="bankName !=null and bankName !=''">
            and ub.bankName = #{bankName}
        </if>
        <if test="cardNo!=null and cardNo !=''">
            and ub.cardNo = #{cardNo}
        </if>
        <if test="bj !=null">
            and bm.bj = #{bj}
        </if>
        <if test="startTime !=null and endTime ==null">
            and bm.realBackTime &gt;= #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and bm.realBackTime &lt;= #{endTime}
        </if>
        <if test="startTime !=null and endTime !=null">
            and bm.realBackTime  BETWEEN #{startTime} and #{endTime}
        </if>
    </select>
</mapper>
