<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.BorrowMoneyUserDao">
    <!-- 添加新用户-->
    <insert id="insertUser" parameterType="com.guanyitong.model.BorrowMoneyUser">
      INSERT INTO borrowmoney_user(
      companyName,charterNum,charterImage,legalPersonName,legalPhone,companyCreateTime,
      registerMoney,registerAddress,borrowMoney,apprroveName,legalIDCard,legalIDCardImageZ,
      legalIDCardImageF,XYJF,XYJFDescribe,address,companyDescribe,borrowUse,createTime,moneyInfo,ensureInfo
      )
      VALUES
      (#{companyName},#{charterNum},#{charterImage},#{legalPersonName},#{legalPhone},
      #{companyCreateTime},#{registerMoney},#{registerAddress},#{borrowMoney},#{apprroveName},
      #{legalIDCard},#{legalIDCardImageZ},#{legalIDCardImageF},#{XYJF},#{XYJFDescribe},#{address},
      #{companyDescribe},#{borrowUse},#{createTime},#{moneyInfo},#{ensureInfo})
    </insert>
    <!--借款人认证资料审核列表，（分页）0待审核 (1 3 审核未通过) 4审核通过-->
    <select id="selectAllBorrowUser" parameterType="java.util.Map" resultType="com.guanyitong.model.BorrowMoneyUser">
        select * from borrowmoney_user where 1=1
        <if test="id !=null">
           and id = #{id}
        </if>
        <if test="apprroveName !=null and apprroveName != ''">
           and apprroveName = #{apprroveName}
        </if>
        <if test="startTime !=null and endTime ==null">
            and createTime &gt;=  #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and createTime &lt;=  #{endTime}
        </if>
        <if test="startTime !=null and endTime !=null">
            and createTime BETWEEN #{startTime} and #{endTime}
        </if>
        <if test="legalIDCard !=null and legalIDCard !=''">
            and legalIDCard = #{legalIDCard}
        </if>
        <if test="companyName !=null and companyName !=''">
            and companyName = #{companyName}
        </if>
        <if test="auditUserName !=null and auditUserName !=''">
            and auditUserName = #{auditUserName}
        </if>

        <if test="status != null">
            and status = #{status}
        </if>
        <if test="Status !=null and Status !=''">
            and status in(${Status})
        </if>

    </select>
    <!--查询用户总数-->
    <select id="selectCount" parameterType="java.util.Map" resultType="Integer">
        select count(id) from borrowmoney_user where 1=1
        <if test="id !=null">
            and id = #{id}
        </if>
        <if test="apprroveName !=null and apprroveName != ''">
            and apprroveName = #{apprroveName}
        </if>
        <if test="startTime !=null and endTime ==null">
            and createTime &gt;=  #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and createTime &lt;=  #{endTime}
        </if>
        <if test="startTime !=null and endTime !=null">
            and createTime BETWEEN #{startTime} and #{endTime}
        </if>
        <if test="legalIDCard !=null and legalIDCard !=''">
            and legalIDCard = #{legalIDCard}
        </if>
        <if test="companyName !=null and companyName !=''">
            and companyName = #{companyName}
        </if>
        <if test="auditUserName !=null and auditUserName !=''">
            and auditUserName = #{auditUserName}
        </if>

        <if test="status != null ">
            and status = #{status}
        </if>
        <if test="Status !=null and Status !=''">
            and status in(${Status})
        </if>

    </select>

    <!--审核借款人的资料信息-->
    <update id="updateStatus" parameterType="java.util.Map">
        update borrowmoney_user set status = #{status}
        <if test="causeBy !=null and causeBy !=''">
            ,causeBy = #{causeBy}
        </if>
        <if test="contractImage !=null and contractImage !=''">
            ,contractImage = #{contractImage}
        </if>
        where id = #{id}
    </update>
    <!--根据id查询借款用户信息，进行审核-->
    <select id="selectBorrowMoneyUser" parameterType="java.lang.Long" resultType="com.guanyitong.model.BorrowMoneyUser">
        SELECT * from borrowmoney_user WHERE  id=#{id}
    </select>

    <!-- 模糊查询id-->
    <select id="selectDimId" parameterType="Long" resultType="com.guanyitong.model.BorrowMoneyUser">
        select * from borrowmoney_user where id LIKE CONCAT("%",#{dimId},"%")
    </select>
</mapper>
