<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.LenderManagementVoDao">

    <!-- 查询出借人银行卡信息-->
    <select id="listLenderManagementVo" resultType="com.guanyitong.model.vo.LenderManagementVo">
        SELECT username,realName,idCard,bankName,bankNum,createTime,a.`status`
        FROM account_manager a
        JOIN user_info u
        ON a.userId=u.id
    </select>

    <!-- 模糊查找-->
    <select id="selectLenderManagementVo" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.LenderManagementVo">
        SELECT username,realName,idCard,bankName,bankNum,createTime,a.`status`
        FROM account_manager a
        JOIN user_info u
        ON a.userId=u.id
        WHERE 1=1
        <if test="username !=null and username !=''">
            and username=#{username}
        </if>
        <if test="realName!=null and realName !=''">
            and realName=#{realName}
        </if>
        <if test="idCard!=null and idCard!=''">
            and idCard=#{idCard}
        </if>
        <if test="firstDate !=null and lastDate !=null">
            and createTime BETWEEN firstDate and lastDate
        </if>
    </select>
    <!-- 条件查找（根据身份证查询）-->
    <select id="selectByIDCard" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.LenderManagementVo">
            SELECT userId,realName,idCard,bankNum,bankName,bankAddress
            FROM account_manager a
            JOIN user_info u
            ON a.userId=u.id
            WHERE idCard=#{idCard}
    </select>

</mapper>
