<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.LenderManagementVoDao">



    <!-- 条件查询-->
    <select id="selectLenderManagementVo" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.LenderManagementVo">
        SELECT a.*,u.username
        FROM account_manager a
        LEFT JOIN user_info u
        ON a.userId=u.id
        WHERE 1=1
        <if test="id !=nulland id !=''">
            and id=#{id}
        </if>
        <if test="username !=null and username !=''">
            and username=#{username}
        </if>
        <if test="realName!=null and realName !=''">
            and realName=#{realName}
        </if>
        <if test="idCard!=null and idCard!=''">
            and idCard=#{idCard}
        </if>
        <if test="firstDate !=null and lastDate !=null">
            and createTime BETWEEN firstDate and lastDate
        </if>
    </select>
    <!-- 条件查找（）-->
    <select id="selectByID" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.LenderManagementVo">
            SELECT a.*,u.username
            FROM account_manager a
            LEFT JOIN user_info u
            ON a.userId=u.id
            WHERE a.id=#{id}
    </select>
</mapper>
