<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.LenderManagementVoDao">

<!--出借人银行卡信息xml-->

    <!-- 条件查询,分页查询出借人银行卡信息-->
    <select id="selectLenderManagementVo" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.LenderManagementVo">
        SELECT a.*,u.username
        FROM account_manager a
        LEFT JOIN user_info u
        ON a.userId=u.id
        WHERE 1=1
        <if test="username !=null and username !=''">
            and u.username=#{username}
        </if>
        <if test="realName!=null and realName !=''">
            and a.realName=#{realName}
        </if>
        <if test="idCard!=null and idCard!=''">
            and a.idCard=#{idCard}
        </if>
        <if test="firstDate !=null and lastDate ==null">
            and a.createTime &gt;= #{firstDate}
        </if>
        <if test="firstDate ==null and lastDate !=null">
            and a.createTime &lt;= #{lastDate}
        </if>
        <if test="firstDate !=null and lastDate !=null">
            and createTime BETWEEN firstDate and lastDate
        </if>
    </select>
    <!-- 条件查找（根据id条件查询出借人银行卡信息）-->
    <select id="selectByID" parameterType="Long" resultType="com.guanyitong.model.vo.LenderManagementVo">
            SELECT a.*,u.username
            FROM account_manager a
            LEFT JOIN user_info u
            ON a.userId=u.id
            WHERE a.id=#{id}
    </select>
</mapper>
