<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.PostDAO">
   <!--添加职位-->
    <insert id="insertPost" parameterType="com.guanyitong.model.Post">
        insert into post(pname,pcreateTime,pdescribe) values(#{pname},#{pcreateTime},#{pdescribe})
    </insert>
    <!--分页查询公司所有的职位(根据职位名称条件查询)-->
    <select id="selectPost" parameterType="com.guanyitong.model.Post" resultType="com.guanyitong.model.Post">
        select * from post where pstatus = 1
        <if test="pname !=null and pname !=''">
            and pname LIKE CONCAT("%",#{pname},"%")
        </if>
    </select>
    <!--根据id查询职位-->
    <select id="selectPostById" parameterType="Long" resultType="com.guanyitong.model.Post">
        select * from post where id = #{id}
    </select>
    <!--编辑职位(修改名称和描述)-->
    <update id="updatePost" parameterType="com.guanyitong.model.Post">
        update post set
        <if test="pname !=null and pname!=''">
            pname = #{pname},
        </if>
        <if test="pdescribe !=null and pdescribe!=''">
            pdescribe = #{[pdescribe},
        </if>
        <if test="pupdateTime !=null and pupdateTime !=''">
            pupdateTime = #{pupdateTime}
        </if>
        where id = #{id}
    </update>
    <!--删除职位（修改状态为0）-->
    <update id="deletePost" parameterType="Long">
        update post set pstatus = 0 where id = #{id}
    </update>
</mapper>
