<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.ProductDao">

     <!--查询所有的产品-->
     <select id="selectProduct" parameterType="java.util.Map" resultType="com.guanyitong.model.Product">
          select * from product where status=1
          <if test="id!=null ">
              and id=#{id}
          </if>
     </select>

     <!--查询某项产品的所有详细信息-->
     <select id="selectProductInfo" parameterType="java.util.Map" resultType="com.guanyitong.model.ProductInfo">
          select * from productInfo where 1=1
          <if test="id !=null">
              and  productId=#{id}
          </if>
         <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
             and borrowMoneyUserId = #{borrowMoneyUserId}
         </if>
         <if test="productInfoId !=null">
             and id = #{productInfoId}
         </if>
     </select>



     <!--==================================================================后台管理-->
     <!--添加产品种类（标种）-->
     <insert id="insertProduct" parameterType="com.guanyitong.model.Product">
          insert into product (name,createTime) values(#{name},#{createTime})
     </insert>
     <!--查询列表（分页）-->
     <select id="selectAllProducts" parameterType="com.guanyitong.model.Product" resultType="com.guanyitong.model.Product">
          select * from product where status = 1
          <if test="name !=null and name !=''">
               and name LIKE CONCAT("%",#{name},"%")
          </if>
     </select>
     <!--根据id查询某一产品，编辑页面回显数据-->
     <select id="selectProductById" parameterType="Long" resultType="com.guanyitong.model.Product">
          select * from product where id = #{id}
     </select>
     <!--编辑-->
     <update id="updateProduct" parameterType="com.guanyitong.model.Product">
          update product SET
          <if test="name !=null and name!=''">
               name = #{name},
          </if>
          <if test="updateTime !=null ">
               updateTime = #{updateTime}
          </if>
          where id = #{id}
     </update>
     <!--删除-->
     <delete id="deleteProduct" parameterType="Long">
          update product set status = 0 where id = #{id}
     </delete>
     <!--===================================================================投标（不同标种下。有不同类型的投标）-->
     <!--添加投标-->
     <insert id="insertProductInfo" parameterType="com.guanyitong.model.ProductInfo">
          insert into productinfo(productId,borrowMoneyUserId,NO,backMoneyType,
          monthNum,raiseMoneyMonth,ZMoney,SYMoney,yield,createTime,startRaiseTime,
          endRaiseTime,startBorrowTime,endBorrowTime,coverImage)
          values(#{productId},#{borrowMoneyUserId},#{NO},#{backMoneyType},
          #{monthNum},#{raiseMoneyMonth},#{ZMoney},#{SYMoney},#{yield},#{createTime},
          #{startRaiseTime},#{endRaiseTime},#{startBorrowTime},#{endBorrowTime},#{coverImage})
     </insert>
     <!--（条件查询根据产品id）分页查询所有的此产品下的所有的投标-->
     <select id="selectAllProductinfo" parameterType="com.guanyitong.model.ProductInfo" resultType="com.guanyitong.model.ProductInfo">
          select * from productinfo
          <if test="productId !=null">
               where productId = #{productId}
          </if>
     </select>
     <!--删除投标-->
     <delete id="deleteProductinfo" parameterType="Long">
          delete from productinfo where id = #{id}
     </delete>
     <!--查看投标详情，所有用户的此投标的信息
         private String username;
         private Integer dealMoney;
         private String name;//投资类型（产品）
         private String backMoneyType;//回款方式（盈利方式）
         private Double money;//盈利金额
         private Date createTime;
         private Integer monthNum;//还款期限-->
     <select id="selectUserProductinfo" parameterType="Long" resultType="com.guanyitong.model.vo.UserProductInfoVo">
          select udm.dealMoney,p.name,pi.backMoneyType,udm.createTime,pi.monthNum,ui.username
          from user_deal_money udm
          left join productinfo pi on pi.id = udm.productInfoId
          left join product p on p.id = pi.productId
          left join user_info ui on ui.id = udm.userId
          where udm.productInfoId = #{productInfoId}
     </select>

    <!--出借用户统计(分页，条件)-->
    <select id="selectAllUserDeal" resultType="com.guanyitong.model.vo.UserProductInfoVo" parameterType="java.util.Map">
        select udm.dealMoney,pi.*,ui.username from user_deal_money udm
        left join productinfo pi on pi.id = udm.productInfoId
        left join user_info ui on ui.id = udm.userId
        left join account_manager am on udm.userId = am.userId
        where 1=1
        <if test="username !=null and username !=''">
            and ui.username = #{username}
        </if>
        <if test="NO !=null and NO !=''">
            and pi.NO = #{NO}
        </if>
        <if test="idCard !=null and idCard !=''">
            and am.idCard = #{idCard}
        </if>
        <if test="startTime !=null and endTime ==null">
            and pi.createTime &gt;= #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and pi.createTime &lt;= #{endTime}
        </if>
        <if test="startTime !=null and endTime !=null">
            and pi.createTime BETWEEN #{startTime} and #{endTime}
        </if>
        <if test="minDealMoney !=null and maxDealMoney ==null">
            and udm.dealMoney &gt;= #{minDealMoney}
        </if>
        <if test="minDealMoney ==null and maxDealMoney !=null">
            and udm.dealMoney &lt;= #{maxDealMoney}
        </if>
        <if test="minDealMoney !=null and maxDealMoney !=null">
            and udm.dealMoney BETWEEN #{minDealMoney} and #{maxDealMoney}
        </if>
    </select>

     <!--========================================================================借款流程-->
     <!--（分页）（投标管理）投标列表-->
     <select id="selectBorrowInfo" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.UserProductInfoVo">
          select productinfo.*,product.name from productinfo
          left join product on product.id = productinfo.productId
          where 1=1
          <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
               and borrowMoneyUserId = #{borrowMoneyUserId}
          </if>
          <if test="NO !=null and NO !=''">
               and NO = #{NO}
          </if>
          <if test="startTime !=null and endTime !=null">
               and createTime BETWEEN #{startTime} and #{endTime}
          </if>
         <if test="startTime !=null and endTime ==null">
             and createTime &gt;= #{startTime}
         </if>
         <if test="startTime ==null and endTime !=null">
             and createTime &lt;= #{endTime}
         </if>
          <if test="startBorrowTime !=null and endBorrowTime !=null">
             and startBorrowTime &gt;= #{startBorrowTime} and endBorrowTime &lt;= #{endBorrowTime}
          </if>
         <if test="startBorrowTime !=null and endBorrowTime ==null">
             and startBorrowTime &gt;= #{startBorrowTime}
         </if>
         <if test="startBorrowTime ==null and endBorrowTime !=null">
             and endBorrowTime &lt;= #{endBorrowTime}
         </if>
          <if test="backMoneyType !=null and backMoneyType !=''">
               and backMoneyType = #{backMoneyType}
          </if>
          <if test="status !=null">
               and status = #{status}
          </if>
     </select>
    <!--查询一条数据（根据borrowMoneyUserId 和 status）-->
    <select id="selectProductInfoByStAndBUId" parameterType="java.util.Map" resultType="com.guanyitong.model.ProductInfo">
        select * from productinfo where 1=1
        <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
            and borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="status !=null">
            and status = #{status}
        </if>
    </select>
     <!--根据id查询借款明细-->
     <select id="selectBorrowInfoById" parameterType="Long" resultType="com.guanyitong.model.vo.UserProductInfoVo">
          select productinfo.*,product.name from productinfo
          left join product on product.id = productinfo.productId
          where productinfo.id = #{id}
     </select>
    <!--修改投标（未开始的，和筹集失败的能修改，修改后需要审核）-->
    <!--private Long productId;
    private String NO;//编号，名称
    private String backMoneyType;//回款方式（1按月还本付息、2先息后本、3一次性还本付息、4等额本息）
    private Integer monthNum;//借款期限
    private Integer raiseMoneyMonth;//筹钱期限
    private Integer ZMoney;//借款总额（所有的用户出借总额不超过100万元）
    private Integer SYMoney;//剩余可出借的金额
    private Integer yield;//收益率
    private Date startRaiseTime;//开始筹钱的时间
    private Date endRaiseTime;//结束筹钱的时间
    private Date startBorrowTime;//开始借款时间
    private Date endBorrowTime;//结束借款时间
    private String coverImage;//封面路径
    private Integer status;-->
    <update id="updateProductInfo" parameterType="com.guanyitong.model.ProductInfo">
        update productinfo set
        <if test="productId !=null">
            productId = #{productId},
        </if>
        <if test="NO !=null and NO !=''">
            NO = #{NO},
        </if>
        <if test="backMoneyType !=null and backMoneyType !=''">
            backMoneyType = #{backMoneyType},
        </if>
        <if test="monthNum !=null">
            monthNum = #{monthNum},
        </if>
        <if test="raiseMoneyMonth !=null">
            raiseMoneyMonth = #{raiseMoneyMonth},
        </if>
        <if test="ZMoney !=null">
            ZMoney = #{ZMoney},
        </if>
        <if test="SYMoney !=null">
            SYMoney = #{SYMoney},
        </if>
        <if test="yield !=null">
            yield = #{yield},
        </if>
        <if test="startRaiseTime !=null">
            startRaiseTime = #{startRaiseTime},
        </if>
        <if test="endRaiseTime !=null">
            endRaiseTime = #{endRaiseTime},
        </if>
        <if test="startBorrowTime !=null">
            startBorrowTime = #{startBorrowTime},
        </if>
        <if test="endBorrowTime !=null">
            endBorrowTime = #{endBorrowTime},
        </if>
        <if test="coverImage !=null and coverImage !=''">
            coverImage = #{coverImage},
        </if>
        <if test="status !=null">
            status = #{status},
        </if>
        updateTime = #{updateTime}
        where id = #{id}
    </update>

      <!--产品 上架，下架，放弃（退款）10待提现，11提现成功 12 提现失败 13 还款中 14 还款完成-->
    <update id="updateStatus" parameterType="java.util.Map">
        update productinfo set
        <if test="status !=null">
            status = #{status},
        </if>
        <if test="updateTime !=null">
            updateTime = #{updateTime}
        </if>
         where 1=1
        <if test="id !=null">
           and id = #{id}
        </if>
        <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
            and borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="status1 !=null">
            and status = #{status1}
        </if>
    </update>

</mapper>
