<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.UserBankcardDao">


    <!--条件查询(查询所有用户银行卡信息) -->
    <select id="selectByUserBankcard" parameterType="java.util.Map" resultType="com.guanyitong.model.UserBankcard">
        SELECT borrowMoneyUserId,realName,IDCardNumber,bankName,cardNo,submitTime FROM user_bankcard WHERE 1=1
        <if test="borrowMoneyUserId !=null and borrowMoneyUserId !=''">
            and borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="realName !=null and realName !=''">
            and realName=#{realName}
        </if>
        <if test="IDCardNumber!=null and IDCardNumber!=''">
            and IDCardNumber=#{IDCardNumber}
        </if>
        <if test="cardNo!=null and cardNo!=''">
            and cardNo=#{cardNo}
        </if>
        <if test="firstDate !=null and lastDate ==null">
            and submitTime  &gt;= #{firstDate}
        </if>
        <if test="firstDate ==null and lastDate !=null">
            and submitTime  &lt;= #{lastDate}
        </if>
        <if test="firstDate !=null and lastDate !=null">
            and submitTime BETWEEN firstDate and lastDate
        </if>
        
    </select>
    <!-- 用户绑定银行卡-->
    <insert id="insertUserBankcardDao" parameterType="com.guanyitong.model.UserBankcard">
       INSERT INTO user_bankcard (borrowMoneyUserId,realName,IDCardNumber,cardNo,bankName,openAccountRegion,phone,YN)
       VALUES
       (#{borrowMoneyUserId},#{userName},#{realName},#{IDCardNumber},#{cardNo},#{bankName},#{openAccountRegion},#{phone},#{YN})
    </insert>

    <!--根据主键id查看详情-->
    <select id="selectUserBankcardById" parameterType="Long" resultType="com.guanyitong.model.UserBankcard">
        select * from user_bankcard where id = #{id}
    </select>

</mapper>
