<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.UserBackMoneyRecordDAO">

    <!--添加汇款记录-->
    <insert id="insertUserBackMoneyRecord" parameterType="com.guanyitong.model.UserDealBackMoneyRecord">
        insert into userBackMoneyRecord (userId,productInfoId,bj,lx,time,status)
        values(#{userId},#{productInfoId},#{bj},#{lx},#{time},#{status})
    </insert>
</mapper>
