<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanyitong.mapper.WithdrawMoneyDao">

    <!--申请提现，添加数据到数据库 status = 0-->
    <insert id="insertWithdrawMoney" parameterType="com.guanyitong.model.WithdrawalMoney">
        insert withdrawal_money (userId,borrowMoneyUserId,userType,txNumber,txBank,txMoney,dzMoney,sxf,txTime,sqUser) values(
            #{userId}, #{borrowMoneyUserId},#{userType},#{txNumber},#{txBank},#{txMoney},#{dzMoney},#{sxf},#{txTime},#{sqUser}
        );
    </insert>
    <!--确认提现成功、失败（修改状态）,添加审核时间-->
    <update id="updateStatus" parameterType="java.util.Map">
      update withdrawal_money set
        <if test="status !=null">
            status = #{status}
        </if>
        <if test="shTime !=null">
          shTime = #{shTime}
        </if>
        <if test="txTime !=null and dzMoney !=null">
            ,txTime = #{txTime}, dzMoney = #{dzMoney}
        </if>
      where id = #{id}
    </update>
    <!--（分页，条件查询）查询所有提现数据-->
    <select id="selectWithdrawal" parameterType="java.util.Map" resultType="com.guanyitong.model.vo.WithdrawalMoneyVo">
        select wm.*,am.realName,ui.username,bu.apprroveName from withdrawal_money wm
        left join account_manager am on am.userId = wm.userId
        left join user_info ui on ui.id = wm.userId
        left join borrowmoney_user bu on bu.id = wm.borrowMoneyUserId
        where 1=1
        <if test="username !=null and username!=''">
            and ui.username = #{username}
        </if>
        <if test="borrowMoneyUserId !=null">
            and wm.borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="realName !=null and realName !=''">
            and am.realName = #{realName}
        </if>
        <if test="idCard !=null and idCard !=''">
            and am.idCard = #{idCard} or bu.legalIDCard = #{idCard}
        </if>
        <if test="txNumber !=null and txNumber !=''">
            and wm.txNumber = #{txNumber}
        </if>
        <if test="minMoney !=null and maxMoney !=null">
            and wm.txMoney BETWEEN #{minMoney} and #{maxMoney}
        </if>
        <if test="minMoney !=null and maxMoney ==null">
            and wm.txMoney &gt;= #{minMoney}
        </if>
        <if test="minMoney ==null and maxMoney !=null">
            and wm.txMoney &lt;= #{maxMoney}
        </if>
        <if test="sqUser !=null and sqUser !=''">
            and wm.sqUser = #{sqUser}
        </if>
        <if test="startTime !=null and endTime !=null">
            and wm.txTime BETWEEN  #{startTime} and #{endTime}
        </if>
        <if test="startTime !=null and endTime ==null">
            and wm.txTime &gt;= #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and wm.txTime &lt;= #{endTime}
        </if>
        <if test="userType !=null">
            and wm.userType = #{userType}
        </if>
        <if test="status !=null">
            and wm.status = #{status}
        </if>
    </select>

    <!--资金账户管理-->
    <!--查询某用户提现中的金额-->
    <select id="selectUserZTxMoney" parameterType="Long" resultType="java.lang.Double">
        select sum(txMoney) from withdrawal_money where status = 0 and userId =18
    </select>

    <!-- 查询全部提现的总金额-->
    <select id="totalJe" resultType="java.lang.Double">
        SELECT sum(txMoney) from withdrawal_money where status=1
    </select>
<!-- 提现总数量-->
    <select id="selectWithdrawalCount" parameterType="com.guanyitong.model.vo.WithdrawalMoneyVo" resultType="Integer">
        select count(wm.id) from withdrawal_money wm
        left join account_manager am on am.userId = wm.userId
        left join user_info ui on ui.id = wm.userId
        left join borrowmoney_user bu on bu.id = wm.borrowMoneyUserId
        where 1=1
        <if test="username !=null and username!=''">
            and ui.username = #{username}
        </if>
        <if test="borrowMoneyUserId !=null">
            and wm.borrowMoneyUserId = #{borrowMoneyUserId}
        </if>
        <if test="realName !=null and realName !=''">
            and am.realName = #{realName}
        </if>
        <if test="idCard !=null and idCard !=''">
            and am.idCard = #{idCard} or bu.legalIDCard = #{idCard}
        </if>
        <if test="txNumber !=null and txNumber !=''">
            and wm.txNumber = #{txNumber}
        </if>
        <if test="minMoney !=null and maxMoney !=null">
            and wm.txMoney BETWEEN #{minMoney} and #{maxMoney}
        </if>
        <if test="minMoney !=null and maxMoney ==null">
            and wm.txMoney &gt;= #{minMoney}
        </if>
        <if test="minMoney ==null and maxMoney !=null">
            and wm.txMoney &lt;= #{maxMoney}
        </if>
        <if test="sqUser !=null and sqUser !=''">
            and wm.sqUser = #{sqUser}
        </if>
        <if test="startTime !=null and endTime !=null">
            and wm.txTime BETWEEN  #{startTime} and #{endTime}
        </if>
        <if test="startTime !=null and endTime ==null">
            and wm.txTime &gt;= #{startTime}
        </if>
        <if test="startTime ==null and endTime !=null">
            and wm.txTime &lt;= #{endTime}
        </if>
        <if test="userType !=null">
            and wm.userType = #{userType}
        </if>
        <if test="status !=null">
            and wm.status = #{status}
        </if>
    </select>
    <delete id="deleteWithdrawalById" parameterType="java.lang.Long">
        DELETE FROM withdrawal_money WHERE id=#{id}
    </delete>
</mapper>

